<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\Theme\Model\ViewModelRegistry">
        <arguments>
            <argument name="viewModels" xsi:type="array">
                <item name="heroIcon" xsi:type="string">Panth\Core\ViewModel\HeroIcon</item>
            </argument>
        </arguments>
    </type>

    <!-- ThemeConfig: each module registers itself via its own etc/frontend/di.xml -->
    <type name="Panth\Core\ViewModel\ThemeConfig">
        <arguments>
            <argument name="registeredModules" xsi:type="array">
                <!-- Modules add themselves here via their own di.xml -->
            </argument>
        </arguments>
    </type>
</config>
